<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../services/css/style.css">
    <link href="../../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet">
    <title>Minecraft Launcher</title>
</head>

<body style="background: url(../assets/wallpaper.jpg) no-repeat; background-size: cover;">
    <%- include('partials/loading.ejs')  %>
    <header>
        <%- include('partials/topbar.ejs')  %>
    </header>
    <main class="flex h-screen justify-center items-center">
        <div class="w-11/12 h-[85%] bg-zinc-600 flex flex-col items-center bg-opacity-50">
            <div class="mt-3">
                <img src="../assets/BRLauncher.png" width="250">
            </div>
            <div class="bg-zinc-800 w-[90%] h-96 mt-3 bg-opacity-50 shadow p-7">
                <div>
                    <label for="name" class="text-zinc-200 flex items-center mb-1"><span
                            class="material-icons mr-1">person</span> Seu username</label>
                    <input
                        class="block w-full outline-none text-zinc-300 bg-transparent border-b-2 border-white focus:border-blue-400 duration-300"
                        type="text" placeholder="Player" id="name">
                </div>
                <div class="mt-6">
                    <label class="text-zinc-200 flex items-center mb-1" for="version"><span
                            class="material-icons mr-1">playlist_play</span> Selecione a versão</label>
                    <select id="version" class="w-full block bg-transparent border-b-2 border-white focus:border-blue-400 duration-300 outline-none text-zinc-300">

                    </select>
                </div>
                <div class="mt-3">
                    <button id="play"
                        class="text-center flex p-1 text-zinc-300 bg-zinc-400 w-full items-center justify-center"><span
                            class="material-icons mr-1">play_circle</span> Jogar</button>
                </div>
                <div class="flex justify-around">
                    <button class="w-full bg-blue-500" id="config">Configurar</button>
                </div>
            </div>
        </div>
        <div class="absolute bottom-0 left-0 duration-500 line-clamp-1 bg-green-400 overflow-clip text-ellipsis text-zinc-700"
            id="barra"></div>
    </main>
    <script>var exports = {};</script>
    <script src="../services/bundle.js" defer></script>
    <span class="text-black"></span>
</body>
</html>