<div class="p-3">
    <p class="text-4xl mb-3">Sobre</p>
    <div>
        <p>Você esta usando o Launcher de Minecraft BRLauncher (isso parece obvio), esse launcher é de código aberto e está disponivel no repositorio: <a href="https://github.com/VOTRON157/BRLauncher/tree/main" class="text-blue-800">https://github.com/VOTRON157/BRLauncher/tree/main</a><br><br><b>É importante informar a todos os usuários deste launcher de Minecraft que o mesmo é uma criação independente e não possui qualquer vínculo oficial com a Mojang AB, nem com suas propriedades intelectuais, incluindo o jogo Minecraft.<br><br>Ressaltamos que o uso deste launcher é opcional, e os jogadores devem estar cientes de que a Mojang AB não assume nenhuma responsabilidade por quaisquer problemas ou conflitos que possam surgir ao utilizar esta plataforma não oficial.</b><br><br>Divirta-se!<br><br><img src="../core/imgs/disclaimer.gif"/></p>
    </div>
</div>