<div id="loading" class="absolute w-full h-full backdrop-blur-xl z-30 flex items-center justify-center">
  <div>
    <img src="../assets/bee.gif" width="155" />
    <p class="text-white text-center animate-pulse">Carregando...</p>
  </div>
</div>