<div style="-webkit-user-select: none; user-select: none; -webkit-app-region: drag"
  class="text-white flex justify-end fixed w-full z-50">
  <div>
    <span style="-webkit-app-region: no-drag; font-size: 20px"
      class="material-icons cursor-pointer hover:bg-slate-500 p-1" id="minimize">remove</span>
  </div>
  <div>
    <span style="-webkit-app-region: no-drag; font-size: 20px"
      class="material-icons cursor-pointer hover:bg-slate-500 p-1" id="maxmize">crop_square</span>
  </div>
  <div>
    <span style="-webkit-app-region: no-drag; font-size: 20px"
      class="material-icons cursor-pointer hover:bg-red-600 p-1" id="close">close</span>
  </div>
</div>